<section class="sec2">
  <h4>知情人爆料称马蓉闯入王宝强家拿剪刀对峙</h4>
  <content>
    <p>
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。
      新浪娱乐独家从马蓉及其母亲处了解到，打人事件发生在今早六点左右。据了解，事发地是在王宝强家，但该房产权仍在马蓉名下。此前，知情人士透露马蓉带着剪刀去了王宝强家，直接吓晕了宝强妈妈。对此，马蓉母亲称他们只是去接孩子的，不存在持凶器前往一说，他们和王母也没有发生过正面冲突。今日另有一张马蓉躺在卧室地上刷手机的图片爆出，有网友据此质疑马蓉摆拍、做戏。而马蓉妈妈则称，当时女儿被打在地上已几近不能动弹，自己在打就医电话不能及时出车，且不擅使用电子产品情况下，将手机交由女儿联系医院而已。

    </p>
  </content>
  <footer class="footer" #footer>网友评论：蓉儿戏过了</footer>
</section>
