<!--<input-->
<!--  type="file"-->
<!--  multiple-->
<!--  webkitdirectory-->
<!--  id="upload"-->
<!--/>-->
<!--<nz-upload-->
<!--  [nzDirectory]="true"-->
<!--  [nzShowUploadList]="false"-->
<!--  (nzChange)="uploadChange($event)"-->
<!--&gt;-->
<!--  <button nz-button>-->
<!--    <span>-->
<!--      从本地选择图片-->
<!--    </span>-->
<!--  </button>-->
<!--</nz-upload>-->
<div id="preview"></div>
<!--<button (click)="clickButton()">button</button>-->
<div app-upload-button [options]="options">
  <div>
  upload button
</div></div>
