<div>
  公母：
  <input type="button" class="sku" attr_id="10" value="公" />
  <input type="button" class="sku" attr_id="11" value="母" />
</div>

<div>
  重量：
  <input type="button" class="sku" attr_id="20" value="100克" />
  <input type="button" class="sku" attr_id="21" value="200克" />
</div>

<div>
  数量：
  <input type="button" class="sku" attr_id="30" value="一对" />
  <input type="button" class="sku" attr_id="31" value="两对" />
  <input type="button" class="sku" attr_id="32" value="三对" />
</div>

<div id="init_time">init sku time:</div>
<div id="price">--</div>
